@import "_variables.scss";

body{
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    font-family: $total-font;
    margin: 0px;
    display: inline-grid;
    height: auto;
    width: 100%;
    background:url(../img/bg-cropped-final.jpg) center center / cover no-repeat fixed;
    .web-background{
        width: 70%;
        position: relative;
        display: inline-grid;
        margin-left: 15%;
        margin-right: 15%;
        min-height: 470px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    header{
        width: 100%;
        height: 80px;
        background-color: blueviolet;
        position: sticky;
        display: inline-block;
        top: 0px;
        z-index: 1100;
    }

    .bg-light {
        background-color: #8a2be2!important;
    }
    .logo-tamaño{
            width: auto;
            height: 60px;
            display: inline-block;
            padding: 10px;
        }
    //ANIDACION
    .navbar {
        div#navbarNav{
            justify-content: flex-end;
            font-size: 20px;
        }
        li.nav-item {
            margin-right: 2rem!important;
        }
        .logo-tamaño:hover{
            transform: scale(1.2);
        }
    }

    .main-background{
        width: 100%;
        height: 100vh;
        margin-bottom: 15px;
    }
    /*TITULARES*/
    h1{
        color: rgb(255, 255, 255);
        font-size: 160px;
        font-family: $title-font;
        text-align: center;
        vertical-align: middle;
        font-weight: lighter;
        margin-top: 150px;
        margin-bottom: 10px;

    }    
    h2{
        color: $title-color;
        font-family: $title-font;
        text-align: center;
        font-size: 60px;
    }
    h2:hover{
        transform: rotate3d(4, 4, 5, 5deg);
        color: aqua; 
    }
    h4{
        color: #FFFFFF;
        font-weight: bold;
        text-shadow: #000000 3px 3px 5px;
    }

    section h2{
        text-align: center;
    }

    .mis-titulos{
        color: darkblue;
        font-size: 20;
        font-family: $title-font;
        text-align: center;
    }

    input[type="text"], textarea{
        border-color: lightseagreen;
        border-radius: 4px;
        width: 180px;
    }

    label{
        font-weight: bold;
        color: indigo;
    }

    //ANIDACION
    .destinos{
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.397);
        padding-bottom: 50px;
        padding-top: 50px;
        h3{
            color: whitesmoke;
            text-align: center;
            font-size: 30px;
            font-weight: lighter;
            a{
                text-decoration: none;
                color: whitesmoke;
                font-weight: bolder;
            }
        }
        
        .destinosPopulares{
            height: 150px;
            margin: 14px;
            padding-top: 50px;

        }
        .mexico{
            background-image: url(../img/mexico.jpg);
        }
        .mexico:hover{
            opacity: 0.7;
        }
        .amsterdam{
            background-image: url(../img/amsterdang.jpg);
        }
        .amsterdam:hover{
            opacity: 0.7;
        }
        .new-york{
            background-image: url(../img/newyork.jpg);
        }
        .new-york:hover{
            opacity: 0.7;
        }
        .republica-dominicana{
            background-image: url(../img/republicadominicana.jpg);
        }
        .republica-dominicana:hover{
            opacity: 0.7;
        }
        .tailandia{
            background-image: url(../img/tailandia.jpg);
        }
        .tailandia:hover{
            opacity: 0.7;
        }
        .japon{
            background-image: url(../img/japon.jpg);
        }
        .japon:hover{
            opacity: 0.7;
        }


    }

    .card-img-top {
        max-height: 160px;
    }
    .mas-leidos{
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
        background-color: rgba(255, 255, 255, 0.4);
    }

    .articulo{
        display: inline-block;
        width: 30%;
        height: auto;
        padding: 12px;
        margin-top: 0px;
        text-align: left;
    }

    main img{
        height: 100vh; 
        width: auto;
    }

    .form-syles{
        background-color: cornflowerblue;
    }


    .mapa img{
        max-width: 95%;
        float: right;
        
    }
    //ANIDACION
    footer{
        background: rgb(23,146,230);
        background: linear-gradient(223deg, rgba(23,146,230,1) 0%, rgba(4,66,114,1) 50%, rgba(133,59,213,1) 100%);
        width: 100%;    
        height: 100px;
        .footer-img{
            height: 35px;
            width: auto;
            padding: 8px;
            position: relative;
            margin-top: 25px;
            float: right;
        } 
    }
}
.pag-mexico{
   h3{
       text-align: center;
       color: blueviolet;
       margin-top: 20px;
       margin-bottom: 20px;
       font-weight: bolder;
   }
}    
.pag-new-york{
    @extend .pag-mexico;
}
.pag-tailandia{
    @extend .pag-mexico;
}
.pag-cuba{
    @extend .pag-mexico;
}
.pag-japon{
    @extend .pag-mexico;
}
.pag-amsterdam{
    @extend .pag-mexico;
}

.div-mexico{
    padding-left: 20px;
    padding-right:20px;
} 
.div-new-york{
    @extend .div-mexico;
}
.div-tailandia{
    @extend .div-mexico;
}
.div-cuba{
    @extend .div-mexico;
}
.div-japon{
    @extend .div-mexico;
}
.div-amsterdam{
    @extend .div-mexico;
}

.principal-mexico{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.principal-new-york{
    @extend .principal-mexico;
}
.principal-tailandia{
    @extend .principal-mexico;
}
.principal-cuba{
    @extend .principal-mexico;
}
.principal-japon{
    @extend .principal-mexico;
}
.principal-amsterdam{
    @extend .principal-mexico;
}
@mixin textos($color, $tamanio) {
    color: $color;
    font-size: $tamanio;
}
.principal-japon{
   @include textos(#333, 12px);
}
.principal-amsterdam{
    @include textos(#00ff00, 16px)
}
